body {
  background-color: #fdfbf0;
  font-family: Arial, sans-serif;
}

/* Flex container for logo and form */
.container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 100vh; /* Full viewport height */
}

.backlogo {
  margin-left: -10%; /* Add some space between the logo and form */
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 5em;
  gap: 30px;
  border-radius: 15px;
  background: #F2EED7;
  box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
}

/* Login Title */
.singup {
  color: #DA8359;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

/* Input Field Styles */
.inputBox {
  position: relative;
  width: 100%;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  background: transparent;
  color: #000;
  font-size: 1em;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  pointer-events: none;
  transition: 0.5s;
  letter-spacing: 3px;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
  transform: translateY(-20px);
  font-size: 0.8em;
  background: #DA8359;
  color: #fff;
  padding: 2px 6px;
  border-radius: 5px;
}

.inputBox input:focus,
.inputBox input:valid {
  border: 2px solid #000;
  border-radius: 8px;
}

/* Button Style */
.enter {
  height: 45px;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
 
}
.link{
  align-items: center;
}

.inputs{
  border: hidden;
  background-color:transparent;
}